# 被忽略的目录
logs/
num/
bin/
image/
src/img/Fight/Time/
# 被忽略的文件
.idea/
*.bat
test.py
SkillsEditor.py
打包命令.txt
Ocr识别双方忍者名.py
Ocr识别双技能冷却时间.py
/(1446, 850, 1470, 872).jpg
/(1457, 762, 1481, 784).jpg
/2025-06-09_22-13-43.846571.png
/2025-06-09_22-56-23.111745.png
/2025-06-09_23-15-21.945750.png
/2025-06-10 17-35-47-590651-0.jpg
/2025-06-10 17-35-47-591656-0.jpg
/2025-06-10 17-35-47-591656-1.jpg
/excluded_modules.json
/fkmodules.json
/tiqumokuai.py
/Todo.txt
/奥义点区域划分.py
/添加忍者.py

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/

# PyCharm specific
.idea/
/useless_src/
/Todo.MD
/常用命令.txt
/test1.py

/识别己方位置.py
/useless_py/
log/
/val/
/截取忍者头像菱形框.py
/old_py/
/release/
/ColosseumHelper_build.py
/nsis/
/config/
/test3.py
/ninja_image/
/分析模拟器窗口.py
/Screener.py
/exld.py
/testld.py
/Screen_test.py
/1P_0.5103142089135521.jpg
/1P_0.7177669030855448.jpg
/1P_0.42830528588964456.jpg
/2P_0.7879100920227393.jpg
/2P_0.18538511750402342.jpg
/2P_0.42751594044429875.jpg
/_version.py
/useless/
/测试检测双方位置和使用秘卷目录/
/test_position/
/confidence_heat/
/raw_src/
/output.py
/profile.svg
/test2.py
